@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

@font-face {
    font-family: 'font-heading';
    src: url('./fonts/ttmasterblack.otf');
}
@font-face {
    font-family: 'font-jonathan';
    src: url('./fonts/JonathanSignature.ttf');
}

body {
    margin: 0;
    padding: 0;
}

.bg-yellow {
    background-color: #F8DE22 ;
}

.nav-link {
    color: rgb(32, 32, 32);
    font-weight: 600;
}

.bg-image {
    background-image: url('./images/background1.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbo-text {
    font-family: 'font-heading';
    text-indent: -50px;
    text-align: left !important;
    font-size: 88px;
}
.jumbo-text2 {
    font-family: 'font-jonathan';
    text-align: left;
    font-size: 18vw;
    color: #F8DE22;
    margin-top: -30px;
}

#menu {
    background-color: #C70039;
    padding-top: 30px;
}

#menu h2 {
    font-family: 'Archivo Black', sans-serif;
    text-align: center;
    color: white;
    text-transform: uppercase;
}

#menu .menu1 {
    font-family: 'Archivo Black', sans-serif;
    color: #F8DE22;
    text-transform: uppercase;
    text-align: left;
    margin-top: 40px;
}




@media (min-width: 768px) {
  .button-82-front {
    font-size: 1.25rem;
    padding: 8px 22px;
  }
}

  
  @media (min-width: 1024px) {
      .contact4 .contact-box {
      padding: 80px 105px 80px 0px;
      }
  }
  
  @media (max-width: 767px) {
      .contact4 .contact-box {
      padding-left: 15px;
      padding-right: 15px;
      }
  }
  
  @media (max-width: 1023px) {
      .contact4 .right-image {
              position: relative;
              bottom: -95px;
      }
  }