* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #C70039;
}

nav {
    display: flex;
    background-color: yellow;
    justify-content: space-around;
    color: black;
    height: 50px;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 0.8em;
}

nav  ul li a:hover {
    color: red;
}


h1 {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 500%;
}

h2 {
    color: yellow;
    font-size: 400%;
}


@media screen and (max-width: 768px){
    nav ul {
        width: 50px;
    }
    
}
@media screen and (max-width: 577px) {
    nav ul {
        display: none;
    }
}

 .homepage {    
    height: 100vh;
	background-image: url(background1.jpg);
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
 }

 .homepage:after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: .5;

 }
nav .logo {
    display: flex; /* Adds display: flex to the logo container */
    align-items: center;
}
 

nav h4 {
    margin: 0; /* Removes margin from the logo text */
}

.paket img {
    max-width: 270px;
    object-fit: contain;
    border-radius: 0;
}

.paket {
    background-color: #fff;
    grid-template-columns: auto;
    grid-template-rows: 175px 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 270px;
    height: 325px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-left: 38px;
    border-radius: 0;
    padding-bottom: 10px;
    
}

.paket-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

h5 {
    color: yellow;
    font-size: 400%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.maps {
    width:400px;
    height:450px;
  

 }

 .lastslide {
    background-color:  yellow; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    padding-bottom: 10px;
    padding-left: 125px;
    padding-right: 125px;
  }
  
  .mancur {
    display: flex;
    flex-direction: row-reverse;
    width: 750px;
 
  }

  .last {
    padding-top: 25px;
    color: white;
    width: 350px;
  }

  .terakhir2 {
    padding-top: 25px;
    color: white;
    padding-top: 25px;
    fill: #FFFFFF;
    fill-rule:nonzero;
    stroke-width:1px;
    stroke-linecap:butt;
    stroke-linejoin:miter;
    stroke-miterlimit:10;
  }
  
  .terakhir2 svg {
    width: 40px;
    margin-top: 40px;
    margin-left: 25px;
  }

  .lokasi {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    width: 900px;
  }

  .ft {
    color:white;
  }

  .ftl{
    color: #fff;
  }




